# Dossiers de build et dépendances
node_modules
.next
out
build

# Fichiers de logs et temporaires
npm-debug.log
.env
.env.*
.git
.gitignore
README.md
.pnpm-debug.log*
*.log

# Fichiers d'environnement
.env*
!.env.example
env.example

# Fichiers Git
.git
.github
.gitignore

# Fichiers Docker
Dockerfile
docker-compose.yml
.dockerignore

# Autres fichiers à ignorer
backups
.vercel
*.md
tsconfig.tsbuildinfo
.DS_Store 
dist 