# Dossiers de build et dépendances
node_modules
.next
out
build

# Fichiers de logs et temporaires
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# Fichiers d'environnement
.env*
!.env.example
env.example

# Fichiers Git
.git
.github
.gitignore

# Fichiers Docker
Dockerfile
docker-compose.yml
.dockerignore

# Autres fichiers à ignorer
README.md
backups
.vercel
*.md
tsconfig.tsbuildinfo
.DS_Store 