# Configuration de la base de données
DATABASE_URL=

# Clé secrète pour les JWT
JWT_SECRET=

# Clés OAuth Google pour l'intégration de Google Calendar
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# URL de base pour NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= 